$colorfont: #dd5151;
.form-label{
    font-family: 'bnkgo';
    color: rgb(152, 150, 150);
    font-size: large;
}
.button{
    font-family: 'bnkgo';
    font-size: large;
    color: $colorfont;
    background-color: rgb(210, 164, 90);
}

.btn-green-moon {
    margin: 20px;
    font-family: 'bnkgo';
    align-items: center;
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
}
