

.pregunta{
    @extend .confian;

}
.respuesta{
    @extend .confian;
    font-size: 12px;
}

.respuesta2{
    color: antiquewhite;
}

@media screen and (min-width: 768px) {
    .pregunta{
        font-size: 30;
    }
    .respuesta{
        font-size: 14px;
    
    }
}
@media screen and (min-width: 1024px) {
    .pregunta{
        font-size: 40px;
    }
}