$colorfont: #dd5151;
.londero{ 
    display: inline-block;
    font-size: 2.3em;
    color: #e4dbab;
    font-family: 'EmblemI';
    text-shadow: .03em .03em 0 #e59143;
    text-align: center;
    
}

.repuestos{
    display: inline-block;
    font-size: 1em;
    color: $colorfont;
    font-family: 'Emblem';
    text-shadow: .03em .03em 0 #eba94e;
    text-align: center;
}
@media screen and (min-width: 768px) {
  .londero {
    font-size: 3em; 
    }
  .repuestos{
    font-size: 1.5em;
    transform: translate(80px);
  }  
}
@media screen and (min-width: 1024px) {
    .londero {
      font-size: 5.5em; 
      }
    .repuestos{
      font-size: 2.5em;
      transform: translate(120px);
    }  
  }
